<launch>

    <rosparam command="load" file="$(find stack_master)/config/opponent_tracker_params.yaml" />   

    <node pkg="perception" type="detect.py" name="detect" output="screen"/> 

    <arg name="var_vs" default="2"/> <!-- var_of vs-->
    <arg name="var_vd" default="8"/> <!-- var_of vs-->

    <node pkg="perception" type="tracking.py" name="tracking" output="screen"/>
    <node pkg="perception" type="dynamic_tracker_server.py" name="dynamic_tracker_server" output="screen" />
</launch>
