[submodule "base_system/f1tenth_system"]
	path = base_system/f1tenth_system
	url = https://github.com/ForzaETH/f1tenth_system.git
	branch = humble-devel
[submodule "base_system/f110_simulator/f1tenth_gym"]
	path = base_system/f110_simulator/f1tenth_gym
	url = https://github.com/ForzaETH/f1tenth_gym.git
	branch = main
[submodule "base_system/f110_simulator/f1tenth_gym_ros"]
	path = base_system/f110_simulator/f1tenth_gym_ros
	url = https://github.com/ForzaETH/f1tenth_gym_ros.git
	branch = main
[submodule "planner/global_planner/global_planner/global_racetrajectory_optimization"]
	path = planner/global_planner/global_planner/global_racetrajectory_optimization
	url = https://github.com/ForzaETH/global_racetrajectory_optimization.git
	branch = pip_package
[submodule "sensors/vesc"]
	path = sensors/vesc
	url = https://github.com/ForzaETH/vesc.git
	branch = foxy
