[submodule "f110_utils/nodes/bayesopt4ros"]
	path = f110_utils/nodes/bayesopt4ros
	url = https://github.com/IntelligentControlSystems/bayesopt4ros
[submodule "f110_utils/nodes/cpu_monitor"]
	path = f110_utils/nodes/cpu_monitor
	url = https://github.com/alspitz/cpu_monitor.git
[submodule "state_estimation/cartographer_pbl/cartographer"]
	path = state_estimation/cartographer_pbl/cartographer
	url = https://github.com/cartographer-project/cartographer
[submodule "state_estimation/cartographer_pbl/cartographer_ros"]
	path = state_estimation/cartographer_pbl/cartographer_ros
	url = https://github.com/cartographer-project/cartographer_ros
