#!/usr/bin/env python3
PACKAGE = "controller"
import rospkg
import yaml, os
import rospy
from dynamic_reconfigure.parameter_generator_catkin import *
from pbl_config import create_KMPC_dynamic_parameters

gen = ParameterGenerator()
gen = create_KMPC_dynamic_parameters(gen)

exit(gen.generate(PACKAGE, "dynamic_kmpc_params", "dyn_kmpc_params_tuner"))
