cython<3
scipy==1.6.3
rospkg
tqdm
scikit-learn
scikit-image==0.19.2
opencv-python>=4.5.2
trajectory_planning_helpers==0.76
PyYAML
pynput
pandas 
matplotlib~=3.5.1
numba
filterpy
torch>=1.7
botorch==0.5.0
pytest>=6.2
sphinx
sphinx-rtd-theme
gpytorch==1.8.1
roslibpy==1.6.0
twisted==24.7.0rc2
pyOpenSSL==23.3.0
psutil
setuptools>=61,<65 # to avoid reinstallation
--extra-index-url https://google-coral.github.io/py-repo/
pycoral==2.0.0
--extra-index-url https://google-coral.github.io/py-repo/
tflite-runtime==2.5.0.post1

# graph-based overtaking reqs
# python-igraph
flake8==3.7.9
pyzmq==18.1.1
pydantic>=2.7
fire
