cython<3
scipy==1.6.3
rospkg
tqdm
scikit-learn
scikit-image==0.19.2
opencv-python>=4.5.2
trajectory_planning_helpers==0.76
PyYAML
pynput
pandas 
matplotlib~=3.5.1
numba
filterpy
torch>=1.7
botorch==0.5.0
pytest>=6.2
sphinx
sphinx-rtd-theme
gpytorch==1.8.1
roslibpy==1.6.0
twisted==24.7.0rc2
pyOpenSSL==23.3.0
psutil

#gbo
python-igraph==0.8.2
flake8==3.7.9
pyzmq==18.1.1
