<?xml version="1.0"?>
<launch>
    <arg name="exp" default="circle" />
    
    <!-- LAUNCH GB TRAJ NODE -->
    <!-- Circle center (x_o, y_o) and radius r in meters and number of discretised circle -->
    <node name="gb_traj_pub" pkg="gb_traj_publisher" type="gb_traj_publisher.py" output="screen">
      <param name="speed" type="double" value="2.0"/>
      <param name="experiment"  type="string" value="$(arg exp)"/>
      <param name="x_o"  type="double" value="0"/>
      <param name="y_o" type="double" value="-3"/>
      <param name="r" type="double" value="10"/>
      <param name="nb" type="int" value="50"/>

      <param name="a" type="double" value="3"/>
      <param name="b" type="double" value="7"/>
    </node>
</launch>
